<!DOCTYPE html>
<html>
<head>
      <title>Cabinet page</title>
    </head>
<br>
<body style="background-color: white-space; height: 100%;">
    <h1 style="sans-serif; text-align: center;">Cabinet</h1>
    <br>
    <img src="../static/pipou.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 30%; border-radius: 60%;">
    
    <br>
    <h3 style="sans-serif; text-align: center;">The user's password is stored here:</h3>
    <br>
    <h4 style="sans-serif; text-align: center;">{{ password }}</h1>
</body>
</html>